<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernateDemo</property>
        <property name="connection.username">root</property>
        <property name="connection.password">pere@1234</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <mapping class="org.example.Student"></mapping>
        <mapping class="org.example.Address"/>
        <mapping class="com.relationshipOneToOne.Student1"/>
        <mapping class="com.relationshipOneToOne.College"/>
        <mapping class="com.manyToManyRelationship.Project"/>
        <mapping class="com.manyToManyRelationship.Employee"/>
        <mapping class="onetomanyrelationship.Customer"/>
        <mapping class="onetomanyrelationship.SalesOrder"/>


    </session-factory>
</hibernate-configuration>